### JetBrains IDE ###
.idea/
*.iml
*.ipr
*.iws
.idea/**/*  # Рекурсивно игнорирует всё в .idea/

### Python ###
.venv/
.idea/**/*
__pycache__/
*.py[cod]
*.py~
*.pyo
*.pyd

### Пользовательские папки ###
Cases/Case-3
Cases/Case-4
Cases/Case-5
Cases/Case-6
Cases/Case-7

### Системные файлы ###
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp
*.cache