.consult-button {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* Тема по умолчанию */
.consult-button[data-theme="green"] {
  background-color: #3a5f0b;
  color: #fff;
}

.consult-button:hover {
  filter: brightness(1.1);
}